<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= cocktail.name %>
      <%= link_to "See details", cocktail_path(cocktail) %>
    </li>
  <% end %>
</ul>


<%= link_to "New cocktail", new_cocktail_path %>
