<h1><%= @cocktail.name %></h1>

<h3>Ingredients</h3>

<%= render "doses/index", doses: @doses %>


<h4>Add dose</h4>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>



<%= link_to "Home", root_path %>
