
<nav class="navbar navbar-light fixed-top justify-content-between px-3" style="background-color: #09090B;">
  <a class="navbar-brand" href="/" style="color: white;">Home</a>
  <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-outline-info" %>
</nav>
